{% extends "CalitarusTranslatorBundle::layout.html.twig" %}

{% block content %}
<h2>Domains</h2>
<ul>
{% for domain in domains %}
	<li><a href="{{ path('calitarus_translator_admin_messages', {'domain_id':domain.id}) }}">{{ domain.name }}</a></li>
{% endfor %}
</ul>

<h2>Create New Domain</h2>
{{ form_errors(form) }}
<form class="wide" action="{{ path('calitarus_translator_admin_domains') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<button type="submit">create</button>
</form>

{% endblock %}