{% extends "CalitarusTranslatorBundle::layout.html.twig" %}

{% block content %}
<h2>Languages</h2>
<dl>
{% for language in languages %}
	<dt>{{ language.code }}</dt>
	<dd>{{ language.name }}</dd>
{% endfor %}
</dl>

<h2>Create New Language</h2>
<form class="wide" action="{{ path('calitarus_translator_admin_languages') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<button type="submit">create</button>
</form>

{% endblock %}