{% extends "CalitarusTranslatorBundle::layout.html.twig" %}

{% block content %}
<h1>{{ 'domain'|transchoice(1, {}, "translatorbundle")|title}} "{{ domain.name }}"</h1>
<h2>{{ 'newmessage'|trans|title }}</h2>
<form class="translator wide" action="{{ path('calitarus_translator_admin_messages', {'domain_id':domain.id}) }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<button type="submit">{{ 'button.create'|trans({}, "translatorbundle") }}</button>
</form>

<h2>{{ 'message'|transchoice(10, {}, "translatorbundle")|title }}</h2>
<table>
	<tr><th>{{ 'key'|trans({}, "translatorbundle") }}</th><th>{{ 'content'|trans({}, "translatorbundle") }}</th><th>{{ 'remarks'|trans({}, "translatorbundle") }}</th></tr>
{% for message in messages %}
	<tr>
		<td>{{ message.key }}</td>
		<td>{{ message.content }}</td>
		<td>{{ message.remarks }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}