{% extends "CalitarusTranslatorBundle::layout.html.twig" %}

{% block content %}
<h1>Domain "{{ domain.name }}"</h1>
<h2>Create New Message</h2>
<form class="translator wide" action="{{ path('calitarus_translator_admin_messages', {'domain_id':domain.id}) }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<button type="submit">create</button>
</form>

<h2>Messages</h2>
<table>
	<tr><th>Key</th><th>Content</th><th>optional remarks</th></tr>
{% for message in messages %}
	<tr>
		<td>{{ message.key }}</td>
		<td>{{ message.content }}</td>
		<td>{{ message.remarks }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}