{% extends "CalitarusTranslatorBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'progressof'|trans({'%language%': language.name}, "translatorbundle")|title }}</h2>

<table>
<thead></thead>
<tbody>
{% for domain in stats %}
	<tr>
		<td>{{ domain.name }}</td>
		{% if domain.total > 0 %}
			<td class="progress_column" style="width:100%"><div class="progressbar" value="{{domain.translated/domain.total}}"><span class="progress_value_dummy">{{ domain.translated }} / {{ domain.total }}</span></div></td>
			<td><a href="{{ path('calitarus_translator_work_domain', {'language_id':language.id, 'domain_id':domain.id}) }}">{{ 'link.translate'|trans({}, "translatorbundle") }}</a></td>
		{% else %}
			<td>{{ 'nothing'|trans({}, "translatorbundle") }}</td>
			<td></td>
		{% endif %}
	</tr>
{% endfor %}
</tbody></table>
{% endblock %}

{% block jquery %}
$(".progressbar").each(function(){
	var percent = 100*parseFloat($(this).attr("value"));
 	$(this).progressbar({value: percent });	
});
$(".progress_value_dummy").addClass("progress_value").removeClass("progress_value_dummy");
{% endblock %}
