{% extends "CalitarusTranslatorBundle::layout.html.twig" %}

{% block content %}
<h1>{{ 'summary'|trans({}, "translatorbundle")|title }}</h1>
<p>{{ 'totalkeys'|trans({'%total%':total}, "translatorbundle") }}</p>

<h2>{{ 'progress'|trans({}, "translatorbundle")|title }}</h2>
<table>
<thead></thead>
<tbody>
{% for done in progress %}
	<tr>
		<td>{{ done.code }}</td><td>{{ done.name }}</td>
		<td class="progress_column" style="width:100%"><div class="progressbar" value="{{done.number/total}}"><span class="progress_value_dummy">{{ done.number }}</span></div></td>
		<td><a href="{{ path('calitarus_translator_work_translate', {'language_id':done.id}) }}">{{ 'link.translate'|trans({}, "translatorbundle") }}</a></td>
	</tr>
{% endfor %}
</tbody></table>
{% endblock %}

{% block jquery %}
$(".progressbar").each(function(){
	var percent = 100*parseFloat($(this).attr("value"));
 	$(this).progressbar({value: percent });	
});
$(".progress_value_dummy").addClass("progress_value").removeClass("progress_value_dummy");
{% endblock %}
